---
name: CMake

on:
  push:
    branches: ["develop"]
  pull_request:
    branches: ["develop"]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -D CMAKE_INSTALL_PREFIX=${{github.workspace}}/stage

      - name: Build
        # Build your program with the given configuration
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

      - name: Test
        working-directory: ${{github.workspace}}/build
        # Execute tests defined by the CMake configuration.
        run: ctest -C ${{env.BUILD_TYPE}}

      - name: Install
        # Install the project artefacts to CMAKE_INSTALL_PREFIX
        run: cmake --install ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
